<br/>
<br/>

<div class="container mt-5">
    <h2>Docentes</h2>

    <!-- Botón de Crear Sede -->
    <button class="btn btn-primary mb-3" (click)="redirigirCrearDocente()">Crear Docente</button>

    <div class="row">
        @for (Docente of Docentes(); track Docente.DocenteId) {
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Docente ID: <strong>{{ Docente.DocenteId }}</strong></h5>

                        <div class="form-group mb-2">
                            <label>Nombre del Docente</label>
                            <input 
                                type="text" 
                                class="form-control"
                                [value]="Docente.Docente"
                                (keydown.enter)="modificarDocente(Docente.DocenteId, $event)"
                            />
                        </div>

                        <div class="form-group mb-2">
                            <label>Cedula</label>
                            <input 
                                type="text" 
                                class="form-control"
                                [value]="Docente.Cedula"
                                (keydown.enter)="modificarDocente(Docente.DocenteId, $event)"
                            />
                        </div>

                        <div class="form-group mb-2">
                            <label>Email</label>
                            <input 
                                type="email" 
                                class="form-control"
                                [value]="Docente.Email"
                                (keydown.enter)="modificarDocente(Docente.DocenteId, $event)"
                            />
                        </div>

                        <div class="form-group mb-2">
                            <label>Teléfono</label>
                            <input 
                                type="text" 
                                class="form-control"
                                [value]="Docente.Telefono"
                                (keydown.enter)="modificarDocente(Docente.DocenteId, $event)"
                            />
                        </div>
                        <div class="form-group mb-2">
                            <label>Direccion</label>
                            <input 
                                type="text" 
                                class="form-control"
                                [value]="Docente.Direccion"
                                (keydown.enter)="modificarDocente(Docente.DocenteId, $event)"
                            />
                        </div>

                        <div class="d-flex justify-content-between mt-3">
                            <button class="btn btn-warning btn-sm" (click)="redirigirEditarDocente(Docente.DocenteId ?? '')"
                            >
                                Editar Docente
                              </button>
                            <button class="btn btn-danger btn-sm" (click)="borrarDocente(Docente.DocenteId)">
                                Borrar Docente
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        } @empty {
            <div class="col-12">
                <p class="text-center">Nada que mostrar.</p>
            </div>
        }
    </div>

   
</div>
