<nav class="dropdownmenu">
  <ul>
    <li><a href="/#">Home</a></li>
    <li><a href="#">Catálogo</a>
      <ul id="submenu">
        <li><a href="/Provincias">Provincias</a></li>
        <li><a href="/Cantones">Cantones</a></li>
        <li><a href="/Distritos">Distritos</a></li>
        <li><a href="/Sedes">Sedes</a></li>
        <li><a href="/Estudiantes">Estudiantes</a></li>
        <li><a href="/Materias">Materias</a></li>
        <li><a href="/Carreras">Carreras</a></li>
        <li><a href="/Docentes">Docentes</a></li>
        <li><a href="/Cursos">Cursos</a></li>
        <li><a href="/Usuario">Usuarios</a></li>
        <li><a href="/PlanEstudio">Plan Estudio</a></li>
        <li><a href="/HistoricoAcademico">HistoricoAcademico</a></li>
        <li><a href="/OfertaAcademica">OfertaAcademica</a></li>
        <li><a href="/Matricula">Matricula</a></li>
      </ul>
    </li>
    <li><a href="#">Procesos</a>
      <ul id="submenu">
        <li><a href="/Matricular">Matricular</a></li>
        <li><a href="/Pago">Pago</a></li>
      </ul>
    </li>
    <li><a href="/#">Reportes</a></li>
    <li><a href="/Login">Login</a></li>
    <li><button (click)="logout()" class="logout-button">Cerrar Sesión</button></li>
  </ul>
</nav>

<router-outlet />
