<br/>
<br/>
<div class="container mt-4">
    <h2 class="text-center mb-4">Crear Nuevo Estudiante</h2>
  
    <div class="card p-4 shadow-sm">
      <div class="mb-3">
        <label for="nombreEstudiante" class="form-label">Nombre del Estudiante</label>
        <input placeholder="Ingrese el nombre" type="text" class="form-control" #nuevoEstudiante />
      </div>
  
      <div class="mb-3">
        <label for="cedula" class="form-label">Cedula</label>
        <input type="cedula" class="form-control" [(ngModel)]="Cedula" placeholder="Ingrese la Cedula" />
      </div>
  
      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="telefono" class="form-control" [(ngModel)]="Telefono" placeholder="Ingrese el teléfono" />
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" [(ngModel)]="Email" placeholder="Ingrese el correo electrónico" />
      </div>
      <div class="mb-3">
        <label for="Direccion" class="form-label">Direccion</label>
        <input type="Direccion" class="form-control" [(ngModel)]="Direccion" placeholder="Ingrese la Direccion" />
      </div>
      <button class="btn btn-primary w-100" (click)="agregarEstudiante(nuevoEstudiante.value, Cedula, Telefono, Email,Direccion)">
        Agregar Estudiante
      </button>
    </div>
  </div>
